body{
  background-color: #EFEFFB;
}

.mainframe{
	width:1000px;
	margin:auto;
	background-color: #EFEFFB;
  border-radius: 20px;
  box-shadow: 0 0 20px gray;
}

@media (max-width: 900px){

	.mainframe{
		margin-left: 0px;
		margin-right: 0px;
    width: 100%;
	}
	.w3-display-container{
		display: none;
	}
	
	header{
		display: none;
	}
  form{
    max-width: 100%;
  }

}

@media (min-width: 900px){
  form{
  margin: auto;
  max-width: 50%;
}
}



.content{
	margin-left: 25px;
	margin-right: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	

}

.block{

	min-height: 250px;
	
}

.dark-block{
	background-color: #5C667F;
	color: white;
	min-height: 250px;
	
}


header{
	min-height: 100px;
}



.topnav {
  overflow: hidden;
  background-color: #43677F;
	
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #BDCFFF;
  color: black;
}

.active {
  background-color: #A9A9F5;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}



.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
    padding: 2px 16px;
}






footer{
	min-height: 100px;
	background-color: #6C767F;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}


a{
	text-decoration: none;
}











